---
import AddToCart from "../components/AddToCart.astro";
import GoHome from "../components/GoHome.astro";
import ItemDescription from "../components/ItemDescription.astro";
// import PhotoAside from "../components/PhotoAside.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
interface Character {
  character: string;
  title: string;
  description: string;
  material: string;
  color: string;
  skill: string;
  price: number;
  upgrades: string;
}

export async function getStaticPaths() {
  let { data: characterEntry } = await getEntry("characters", "characters");
  return characterEntry?.map(({ character, ...rest }: Character) => {
    return {
      params: { character },
      props: { ...rest },
    };
  });
}

const { character } = Astro.params;
const { title, description, material, color, skill, price, upgrades } =
  Astro.props;
---

<BaseLayout title={character ? `The ${character}` : "404"}>
  <div class="grid relative z-20 grid-cols-3 p-0 lg:gap-4 lg:py-0 lg:px-5">
    <ItemDescription
      price={price}
      title={title}
      description={description}
      material={material}
      color={material}
    />
    <div class="flex flex-col items-center justify-center">
      <div class="flex gap-2">
        <img
          src={`${character}.jpeg`}
          alt={`Someone dressed up as a ${character}`}
          width="520"
          transition:name={`${character}`}
        />
      </div>
      <GoHome />
    </div>
    <AddToCart price={price} />
  </div>
</BaseLayout>
