---
import GoHome from "../components/GoHome.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
interface Character {
  character: string;
  skill: string;
  price: number;
  upgrades: string;
}

export async function getStaticPaths() {
  let { data: characterEntry } = await getEntry("characters", "characters");
  return characterEntry?.map(
    ({ character, skill, price, upgrades }: Character) => {
      return {
        params: { character },
        props: { skill, price, upgrades },
      };
    }
  );
}

const { character } = Astro.params;
const { skill, price, upgrades } = Astro.props;
---

<BaseLayout title={character ? `The ${character}` : "404"}>
  <div class="flex flex-col items-center justify-center">
    <div>
      <img
        src={`${character}.jpeg`}
        alt={`Someone dressed up as a ${character}`}
        width="520"
        transition:name={`${character}`}
      />
      <h2 class="text-4xl">You have chosen wisely...</h2>
      <h3>The {character}'s special ability is to {skill}</h3>
      <h4>
        He costs ${price} and pretty soon you will be able to make him {
          upgrades
        }
      </h4>
    </div>
    <GoHome />
  </div>
</BaseLayout>
