---
interface Props {
  character: string;
}
const { character } = Astro.props;
---

<a
  href={`/${character}`}
  class="underline underline-offset-4 text-4xl texturina"
>
  <img
    src={`${character}.jpeg`}
    alt={`A menacing ${character}`}
    width="500"
    transition:name={character}
  />
  The {character}
</a>
<style>
  .noto-serif {
    font-family: "Noto Serif Display Variable", sans-serif;
  }
  .red-mono {
    font-family: "Red Hat Mono Variable", sans-serif;
  }
  .texturina {
    font-family: "Texturina Variable", sans-serif;
  }
</style>
