---
const { price, title, description, material, color } = Astro.props;
---

<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <p class="text-sm red-mono">$ {price}.00</p>
    <p class="text-2xl font-light text-slate-800 unbounded">{title}</p>
  </div>
  <div class="flex flex-col gap-2 text-sm font-light max-w-xs red-mono">
    <p class="uppercase tracking-widest font-normal">details</p>
    <p class="">{description}</p>
    <p><span class="font-normal">Material:</span> {material}</p>
    <p><span class="font-normal">Color:</span> {color}</p>
  </div>
</div>
<style>
  .noto-serif {
    font-family: "Noto Serif Display Variable", sans-serif;
  }
  .unbounded {
    font-family: "Unbounded Variable", sans-serif;
  }
  .red-mono {
    font-family: "Red Hat Mono Variable", sans-serif;
  }
</style>
