---
const { price, title, description, material, color } = Astro.props;
---

<div class="w-80 flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <p class="text-sm noto-serif">$ {price}.00</p>
    <p class="text-2xl font-light text-slate-800 unbounded">{title}</p>
  </div>
  <div class="flex flex-col gap-2 text-sm font-light">
    <p class="uppercase noto-serif tracking-widest">details</p>
    <p class="">{description}</p>
    <p>Material: {material}</p>
    <p>Color: {color}</p>
  </div>
</div>
<style>
  .noto-serif {
    font-family: "Noto Serif Display Variable", sans-serif;
  }
  .unbounded {
    font-family: "Unbounded Variable", sans-serif;
  }
</style>
