---
const { character } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-2">
  <img
    src={`${character}.jpeg`}
    alt={`Someone dressed up as a ${character}`}
    width="100"
  />
  <img
    src={`${character}.jpeg`}
    alt={`Someone dressed up as a ${character}`}
    width="100"
  />
  <img
    src={`${character}.jpeg`}
    alt={`Someone dressed up as a ${character}`}
    width="100"
  />
  <img
    src={`${character}.jpeg`}
    alt={`Someone dressed up as a ${character}`}
    width="100"
  />
</div>
